==
<div class="popup-wrpa feedback">
    <div class="popup">
        <img class="popup-img" src="{{'assets/img/img-popup.jpg'|theme}}" alt="">

        <div class="formPopup-wrap">
            <form data-request="onSendCall" class="formPopup">
                <p class="italic grey">Пожалуйста, заполните форму обратной связи!
                    Наш специалист свяжется с Вами в ближайшее время.</p>

                <div class="columns-wrap">
                    <div class="columns">
                        <p class="bold">Имя</p>
                        <input type="text" class="dark indentTop" name="name" placeholder="Как к Вам обращаться?">
                    </div>
                </div>
                <div class="columns-wrap">
                    <div class="columns">
                        <p class="bold">Телефон</p>
                        <input id="phone-popup" type="text" name="phone" class="dark" placeholder="+7 (___) ___ - __ - __">
                    </div>
                </div>
                <div class="clear"></div>

                <button type="submit" class="btn">отправить</button>
            </form>
        </div>
        <div class="closePopup"></div>
    </div>
</div>
<div class="popup-wrpa return">
    <div class="popup">
        <div class="choiceContract">
            <p class="bold">Вернуть:</p>
            <input name="phone" type="text" placeholder="+7 (___) ___ - __ - __">

            <button class="btn min returnClose">Вернуть</button>
        </div>
        <!--<div class="popup-left">-->
            <!--<p>Вы погашаете заем в размере</p>-->
            <!--<p class="coursePu"><span>0,0035</span> BTC</p>-->
        <!--</div>-->
        <!--<div class="popup-right">-->
            <!--<p>По договору займа №1</p>-->
        <!--</div>-->
        <!--<div class="contactsPu">-->
            <!--<div class="contactsPu-item">-->
                <!--<p class="bold">Ваш действующий e-mail</p>-->
                <!--<p>ivanov@mail.ru</p>-->
            <!--</div>-->
            <!--<div class="contactsPu-item">-->
                <!--<p class="bold">Ваш действующий телефон</p>-->
                <!--<p>+7 (912) 871-11-98</p>-->
            <!--</div>-->
        <!--</div>-->
        <!--<p class="italic grey">С правилами сервиса ознакомлен.-->
            <!--Полноту и правильность указанных даных подтверждаю.</p>-->
        <!--<button class="btn min returnClose">Ок</button>-->
    </div>
</div>
<div class="popup-wrpa take2">
    <div class="popup">
        <div class="popup-left">
            <p>Для оплаты заявки отправьте</p>
            <p class="coursePu"><span>0,0035</span> BTC</p>
        </div>
        <div class="popup-right">
            <img src="{{'assets/img/cureCod.jpg'|theme}}" alt="" class="cureCode">
        </div>

        <div class="allocatePu">
            На адрес: <span>3NAcE86o2UzDA3FNs53aSVPnyxw</span>
        </div>

        <p class="italic grey">
            <span>Внимание, важно!</span>
            Залоговая сумма криптовалюты по закрытию договора займа
            будет возвращена на тот кошелек,
            с которого будет произведена оплата текущей заявки
        </p>
        <button class="btn takeClose2">ОПЛАТИЛ</button>
    </div>
</div>
<div class="popup-wrpa take">
    <div class="popup">
        <div class="popup-left">
            <p>Вы закладываете</p>
            <p class="coursePu"><span>0,0035</span> BTC</p>
        </div>
        <div class="popup-right">
            <p>Получаете</p>
            <p class="coursePu"><span>2 147 </span> Руб.</p>
        </div>

        <div class="allocatePu">
            На карту: <span>6964 598 3000 1617 1920</span>
        </div>

        <div class="contactsPu">
            <div class="contactsPu-item">
                <p class="bold">Ваш действующий e-mail</p>
                <p>ivanov@mail.ru</p>
            </div>
            <div class="contactsPu-item">
                <p class="bold">Ваш действующий телефон</p>
                <p>+7 (912) 871-11-98</p>
            </div>

        </div>

        <p class="italic grey">
            С правилами сервиса ознакомлен.
            Полноту и правильность указанных даных подтверждую.
        </p>
        <button class="btn min takeClose">Ок</button>
    </div>
</div>
<div class="popup-wrpa sell2">
    <div class="popup">
        <div class="popup-left">
            <p>Для оплаты заявки отправьте</p>
            <p class="coursePu"><span>0,0035</span> BTC</p>
        </div>
        <div class="popup-right">
            <img src="{{'assets/img/cureCod.jpg'|theme}}" alt="" class="cureCode">
        </div>
        <div class="allocatePu">
            На адрес: <span>3NAcE86o2UzDA3FNs53aSVPnyxw</span>
        </div>

        <button class="btn sellClose2">ОПЛАТИЛ</button>
    </div>
</div>
<div class="popup-wrpa sell">
    <div class="popup">
        <div class="popup-left">
            <p>Вы продаете</p>
            <p class="coursePu"><span>0,0035</span> BTC</p>
        </div>
        <div class="popup-right">
            <p>Получаете</p>
            <p class="coursePu"><span>2 147 </span> Руб.</p>
        </div>
        <div class="allocatePu">
            На карту: <span>6964 598 3000 1617 1920</span>
        </div>

        <p class="italic grey">
            С правилами сервиса ознакомлен.
            Полноту и правильность указанных даных подтверждую.
        </p>
        <button class="btn min sellClose">Ок</button>
    </div>
</div>
<div class="popup-wrpa buy">
    <div class="popup">
        <div class="popup-left">
            <p>Вы покупаете</p>
            <p class="coursePu"><span>0,0035</span> BTC</p>
        </div>
        <div class="popup-right">
            <p>За</p>
            <p class="coursePu"><span>2 147 </span> Руб.</p>
        </div>
        <div class="allocatePu">
            На адрес: <span>1Euyu5uqu3Fght4jnоа658hjgjdo696</span>
        </div>

        <p class="italic grey">
            С правилами сервиса ознакомлен.
            Полноту и правильность указанных даных подтверждую.
        </p>
        <button class="btn min buyClose">Ок</button>
    </div>
</div>