[Site]
[Calls]
==
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8"/>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>КупиКрипту</title>
    <link rel="icon" type="image/png" sizes="192x192"  href="{{'assets/img/logo.png'|theme}}">
    <link rel="stylesheet" href="{{'assets/css/foundation.min.css'|theme}}"/>
    <link rel="stylesheet" href="{{'assets/css/style.css'|theme}}"/>
    <link rel="stylesheet" href="{{'assets/css/media.css'|theme}}"/>
</head>
<body>

{% page %}

<script src="{{'assets/js/jquery-2.2.4.min.js'|theme}}"></script>
<script src="{{'assets/js/jquery.maskedinput.min.js'|theme}}"></script>
<script src="{{'assets/js/foundation.min.js'|theme}}"></script>
<script src="{{'assets/js/jquery.bxslider.min.js'|theme}}"></script>
<script src="{{'assets/js/script.js'|theme}}"></script>
{% framework extras %}
{% scripts %}
</body>
</html>
